<div class="row">
    <div class="col-12">
        <div class="jumbotron text-center">
            <h1>Alurapic</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="alert alert-success" ng-show="mensagem.length" role="alert">
            {{mensagem}}
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <form>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <a class="btn btn-primary text-white" href="/fotos/new" role="button">Nova foto</a>
                </div>
                <input class="form-control" ng-model="filtro" ng-model-options="{debounce: 200}" placeholder="Filtrar"
                       type="text">
            </div>
        </form>
    </div>
</div>

<div class="row">
    <meu-painel class="col-2 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}">
        <minha-foto alt="{{foto.titulo}}" url="{{foto.url}}"></minha-foto>
        <a class="btn btn-primary btn-block my-2" href="/fotos/edit/{{foto._id}}" role="button">Editar</a>
        <meu-botao-perigo acao="remover(foto)" nome="Excluir"></meu-botao-perigo>
    </meu-painel>
</div>
